/* ----------------------------[ team-content ]----------------------------------- */
.team-container{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    color: var(--font);
}

.team-container > h1{
    margin-top: 10%;
    margin-bottom: 7%;
    text-align: center;
    font-size: 2rem;
}

.team-container p{
    font-size: 1.2rem;
}

.team-desc, .team-desc-two{
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-desc  h3, .team-desc-two  h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.team-img, .team-img-two{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}


/* Mobile Phones - flex-direction: column-reverse */
@media (min-width: 320px) {

  }
  
/* Larger Mobile Phones - flex-direction: column-reverse */
@media (min-width: 480px) {

}

/* Tablets Portrait - flex-direction: row */
@media (min-width: 768px) {
    
}

/* Tablets Landscape / Small Laptops */
@media (min-width: 1024px) {
.banner-container{
    height: 30vh;
}

.team-container > h1{
    text-align: left;
}

.team-desc{
    flex-direction: row;
    align-items: center;
}

.team-desc-two{
    flex-direction: row-reverse;
    align-items: center;
}

.team-img{
    flex: 1;
    margin-right: 5rem;
    width: 10%;
}

.team-img-two{
    flex: 1;
    margin-left: 5rem;
    width: 10%;
}

.team-desc > div, .team-desc-two > div{
    flex: 3;
}
}