.top-container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    width: 60%;
    color: var(--font);
    text-align: center;
}

.top-container > p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.intercessory-img{
    width: 100%;
    height: auto;
}

.bottom-container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    color: var(--font);
}

.bible-verse{
    margin-bottom: 10%;
}

.bible-verse > p{
    font-size: 1.2rem;
}