.container{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    color: var(--font);
}

.container > input{
    height: 30px;
}

.container > button{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    border: none;
    background-color: var(--foreground);
    color: white;
    height: 50px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.container > label{
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.container > input[type="file"]{
    border: none;
}