/* -------------------------------[ header.tsx ]------------------------------------ */
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 1rem;
    background-color: white;
    height: 3rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-logo{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.menu-container > div{
    position: relative;
}

.menu-container > div > ul{
    padding: 0;
    margin: 0;
    top: 100%;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: auto;
    white-space: nowrap;
    z-index: 100;
}

.menu-container > div:hover > ul, .menu-container > div > ul:hover{
    display: block;
}

.menu-title{
    text-decoration: none;
    color: var(--font);
    text-wrap: nowrap;
    display: none;
    height: 3rem;
}

.menu-title:hover{
    color: var(--foreground);
}

.dropdown{
    list-style: none;
}

.dropdown-item{
    text-decoration: none;
    color: var(--font);
    text-wrap: nowrap;
    display: block;
    padding: 0.1rem .5rem;
}

.dropdown-item:hover{
    background-color: var(--foreground);
    color: white;
}


/* -------------------------------[ media queries ]------------------------------------ */

/* Mobile Phones - flex-direction: column-reverse */
@media (min-width: 320px) {
    
  }
  
  /* Larger Mobile Phones - flex-direction: column-reverse */
  @media (min-width: 480px) {
    
  
  }
  
  /* Tablets Portrait - flex-direction: row */
  @media (min-width: 768px) {
    .outer-container{
        flex-direction: row;
    }

    .menu-title{
        display: flex;
        align-items: center;
    }
  }
  
  /* Tablets Landscape / Small Laptops */
  @media (min-width: 1024px) {
    
  }
  
  /* Laptops / Small Desktops */
  @media (min-width: 1280px) {
    
  }
  
  /* Large Desktops */
  @media (min-width: 1440px) {
    
  }
  