:root {
  --background: white;
  --foreground: #a8b89e;
  --font: #63625b;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: roboto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
