.swiper-container{
    position: relative;
}

.swiper-slider{
    width: 100%;
    height: auto;
    margin-top: 60px;
    max-height: 500px;
}

.swiper-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.swiper-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    text-align: center;
}

.swiper-text > h1{
    font-size: 1.8rem;
    white-space: nowrap;
}

.swiper-text > h1 > span{
    color: rgb(252, 217, 1);
}

.swiper-text > h1:first-child{
    margin-bottom: 0;
}

.swiper-text > h1:nth-child(2){
    margin-top: 0;
}

.welcome-message{
    text-align: center;
    color: var(--font);
    height: 20rem;
}

.welcome-message-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-message-container h1, .welcome-message-container p{
    margin: .3rem;
}

.welcome-message-container > h1{
    font-size: 3rem;
}

.welcome-message-container > p{
    font-size: 1.2rem;
}

/* Sunday Service */
.sunday-service{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}

.sunday-service > div{
    position: relative;
    display: flex;
    justify-content: center;
}

.sunday-service > div:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.sunday-service > div > img{
    width: 100%;
    height: auto;
    z-index: 10;
}


.quick-info{
    display: flex;
    flex-direction: column;
}

.quick-info-contents{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.quick-info-contents > div{
    background-color: white;
    padding-bottom: 1rem;
    color: var(--font);
    flex: 1;
    border: .5px solid var(--darker-foreground);
    box-shadow: 1px 1px 5px gray;
    border-radius: 20px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.quick-info-contents > div > img{
    width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.quick-info-contents > div > h2{
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0 2rem;
    font-size: 1.8rem;
}

.quick-info-contents > div > p{
    font-size: 1.2rem;
    padding: 0 2rem;
}

.experience-btn, .pastor-btn{
    display: block;
    width: 80%;
    text-wrap: nowrap;
    border: none;
    background-color: var(--darker-foreground);
    background-image: linear-gradient(to right, rgb(110, 145, 134), rgb(154, 202, 187));
    color: white;
    border-radius: 10px;
    padding: 1rem .5rem;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: .5rem;
    text-align: center;
    margin: auto auto .5rem auto;
}

.experience-btn:hover, .pastor-btn:hover{
    background-image: linear-gradient(to right, rgb(110, 145, 134), rgb(110, 145, 134));
    color: white;
}


.event-outer-container{
    margin-right: 10%;
    margin-left: 10%;
}

.event-container{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
}

.event-list > h4{
    font-style: italic;
    margin: .5rem 0;
}

.event-list > p{
    margin-top: .5rem;
}

.event-pic{
    max-width: 100%;
    height: auto;
}
/* -------------------------------[ media queries ]------------------------------------ */

/* Larger Mobile Phones - flex-direction: column-reverse */
@media (min-width: 480px) {

}

/* Tablets Portrait - flex-direction: row */
@media (min-width: 768px) {
    .quick-info-contents{
        flex-direction: row;
    }

    .swiper-slider{
        height: 50%;
    }

    .sunday-service > div{
        background-image: url('./assets/sunday_service_bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-items: center;
    }

    .sunday-service > div{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .sunday-service > div:before{
        background-color: rgba(36, 36, 36, 0.7);
        content: "";
    }
    
    .sunday-service > div > img{
        width: 50%;
    }
}

/* Laptops / Small Desktops */
@media (min-width: 1280px) {
    .quick-info-contents{
        padding: 3rem 20%;
    }

    .sunday-service{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    
}

